<section class="wrapp">
  <img src="../assets/git.png" alt="">
  <div class="wrapp__form" *ngIf="!userData">
    <label>GitHub User</label>
    <input type="text" [(ngModel)]="user_input" (keyup.enter)="getUser()">
  </div>
  <div class="wrapp__user" *ngIf="userData">
    <img [src]="userData?.avatar_url" alt="avatar_url">
    <div class="wrapp__user-desc">
      <a (click)="onNavigate()" >{{userData?.name}}</a>
      <p>{{userData?.login}}</p>
      <p>{{userData?.location}}</p>
    </div>
    <a (click)="clear()" class="wrapp__user-close"><i class="far fa-times-circle"></i></a>

  </div>
</section>

<app-repos [url_repos]="userData?.repos_url"></app-repos>